<div class='col-sm-8 col-sm-offset-2 panel panel-default'>
<h2 class='text-center'>Регистрация нового пользователя</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: resource} %>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
    <div class='col-sm-9'>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class='col-sm-offset-3 col-sm-9'>
      <%= f.submit "Зарегистрироваться", class: 'btn btn-primary' %> или <%= link_to 'Войти', new_session_path(@user) %>
    </div>
  </div>
<% end %>

<% render "devise/shared/links" %>
</div>