<div class='col-sm-8 col-sm-offset-2 panel panel-default'>
  <h2 class='text-center'><%= t('.forgot_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-3 control-label' %>
      <div class='col-sm-9'>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    </div>

    <div class="actions form-group buffer-top">
      <div class='col-sm-offset-3 col-sm-9'>
        <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div class='col-sm-offset-3 col-sm-9 buffer-top'>
    <%= render "devise/shared/links" %>
  </div>
</div>
